/.idea/
/bot/target/
/scrapper/target/
/link-parser/target/
/common/target/
/scrapper-jooq/target/
/pg-data/
/rabbitmq/
/target/
/scrapper/scrapper.iml
/scrapper-jooq/scrapper-jooq.iml
/bot/bot.iml
/link-parser/link-parser.iml
